@import "./utils/_variables";
@import "./components/navi";
@import "./components/index-main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";

body {
  @include nonspace;
  font-family: $standard-font;
  font-weight: map-get($font-weight, medium);
  font-size: map-get($font-size, standard);
  box-sizing: border-box;
}

.container {
  @include center;
  position: relative;
  width: 1200px;
}

@media screen and (max-width: 768px) {
  .container {
    @include center;
    // position: relative;
    // min-width: 320px;
    // max-width: 400px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
  }
  .body {
    @include nonspace;
    font-family: $standard-font;
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, standard);
    box-sizing: border-box;
    width: 768px;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  * {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
